*{
    margin: 0px;
    padding: 0px;
}

/*_____ LOGIN_____*/

.login{
    position: absolute;
    width: 300px;
	height: 250px;
	margin-left: 50%;
	transform: translateX(-50%);
    background-color: rgba(0,0,0,0.2);
    margin-top: 15%;
    margin-bottom: 50%;
    
}

.fundo{
	background-image: url("../img/fundo.jpg");
    background-color: blueviolet;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.msglogin{
    color: white;
}

#botaologin1{
    margin-left: 50%;
	transform: translateX(-50%);
}

#botaologin2{
    margin-left: 50%;
	transform: translateX(-50%);
}

.txtaviso{
    font-size: 10px;
    color: white;
}

#caixalogin{
    margin-left: 50%;
	transform: translateX(-50%);
}

/*_______CADASTRO______*/

#container{
    margin-left: 50%;
	transform: translateX(-50%);
    margin-top: 50%;
   
}

/*___________CARD____________*/

.card{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    width:  350px;
    background: transparent;
   
}

.card-text{
    font-size: 18px;
    color: white;
}

.card-title{
    font-size: 25px;
    color: white;
}

/*____________HEADER_____________*/
.body{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color:black;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.navbar{
    background-color: red;
    border-radius: 20px;

}

.navbar-brand{
    text-anchor: rgb(255, 255, 255);
    
}

#pg{
    color: black;
}

#gp{
    transform: translateX(-50%);
    margin-top: 50%;
}

.sla{
    margin-left: 10px;
}

#sair{
    margin-left: 310%;
}

